* {
  margin: 0;
  padding: 0;
}
body {
  background: transparent url("../img/body_bg.png");
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px transparent;
}
@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
}
h1 {
  font-size: 1.8em;
}
h1 a {
  color: #333;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
a {
  text-decoration: none;
  color: #0078aa;
}
a:hover {
  text-decoration: underline;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.inner:after,
.inner:before {
  content: " ";
  display: table;
}
@media screen and (max-width: 820px) {
  .inner {
    width: 100%;
  }
}
#main-col {
  width: 100%;
}
#content {
  margin-top: 20px;
}
#header {
  height: 45px;
  background: #563d7c;
}
#header h1 {
  position: absolute;
  left: 0;
  top: 3px;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 45px;
}
#header h1 a {
  color: #fff;
}
#header-h2 {
  position: absolute;
  left: 135px;
  top: 5px;
  font-weight: normal;
  font-size: 1em;
  line-height: 45px;
  color: #eee;
}
@media screen and (max-width: 960px) {
  #header-h2 {
    padding: 0 1em;
  }
}
#main-nav {
  position: absolute;
  right: 0;
  top: 0;
}
#main-nav ul {
  list-style: none;
}
#main-nav ul li {
  float: left;
  margin-left: 15px;
  line-height: 45px;
}
#main-nav ul li a {
  color: #cdbfe3;
}
#main-nav ul li a:hover {
  color: #fff;
}
article {
  position: relative;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  margin-bottom: 20px;
  padding: 30px;
}
@media screen and (max-width: 820px) {
  article {
    padding: 15px;
    margin: 8px 8px 15px 8px;
  }
}
article .post-content {
  position: relative;
}
article header time {
  color: #999;
  font: 0.8em "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
  margin-top: 10px;
  display: block;
  line-height: 1;
}
article header .title {
  font-weight: bold;
  font-size: 1.6em;
  font-family: Microsoft YaHei, SimSun;
}
article header .title a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 820px) {
  article header .title {
    font-weight: normal;
    font-size: 1.4em;
  }
}
article .entry {
  line-height: 1.9;
}
@media screen and (max-width: 820px) {
  article .entry {
    line-height: 1.5;
  }
}
article .entry p,
article .entry blockquote,
article .entry ul,
article .entry ol,
article .entry dl,
article .entry table,
article .entry iframe,
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6,
article .entry .video-container {
  margin-top: 15px;
}
article .entry blockquote {
  margin: 10px 0;
  padding: 8px 10px 8px 12px;
  border-left: 5px solid #ccc;
  background: #f1f1f1;
}
article .entry blockquote p {
  margin-top: 0;
}
article .entry code,
article .entry pre {
  font-family: Consolas, "Lucida Console", "Courier New", Menlo, Monaco, "Microsoft Yahei", monospace;
  font-size: 0.8em;
  line-height: 1.3;
}
article .entry code {
  background: #eee;
  color: #666;
  padding: 0 5px;
  margin: 0 2px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
article .entry pre {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  overflow: auto;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
article .entry pre code {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
article .entry ul,
article .entry ol,
article .entry dl {
  margin-left: 20px;
}
article .entry ul ul,
article .entry ol ul,
article .entry dl ul,
article .entry ul ol,
article .entry ol ol,
article .entry dl ol,
article .entry ul dl,
article .entry ol dl,
article .entry dl dl {
  margin-top: 0;
}
article .entry h1,
article .entry h2 {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 20px;
}
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
  font-weight: normal;
}
article .entry h3 {
  font-size: 1.1em;
  font-weight: bold;
  color: #555;
  border-bottom: 1px dotted #ccc;
  padding: 0 0 5px 0;
}
article .entry img,
article .entry video {
  max-width: 100%;
  height: auto;
  border: none;
}
article .entry iframe {
  border: none;
}
article .entry hr {
  margin: 15px 0;
  border: none;
  border-bottom: 1px dotted #ccc;
}
article .entry .caption {
  display: block;
  margin-top: 5px;
  color: #999;
  position: relative;
  font-size: 0.9em;
  padding-left: 25px;
}
article .entry .caption:before {
  content: '\f040';
  position: absolute;
  font: 1.3em font-icon;
  position: absolute;
  left: 0;
  top: 3px;
}
article .entry .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .entry .video-container iframe,
article .entry .video-container object,
article .entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .entry .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article footer {
  margin-top: 15px;
  padding-top: 10px;
  color: #999;
  font-size: 0.9em;
  line-height: 16px;
  position: relative;
  min-height: 16px;
}
article footer a {
  color: #999;
}
article footer a:hover {
  color: #333;
}
article footer a:before {
  font: 1.1em font-icon;
  padding-right: 10px;
  vertical-align: middle;
}
article footer .categories,
article footer .tags {
  position: relative;
  margin: 5px 0;
}
#page header .title {
  margin-bottom: 30px;
}
#comment {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  #comment {
    padding: 15px;
    margin: 8px 8px 15px 8px;
  }
}
#comment .title {
  font-weight: normal;
  margin-bottom: 15px;
}
.pagination {
  background: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  padding: 10px;
}
.pagination a {
  display: block;
  padding: 5px 10px;
}
.pagination a:hover {
  text-decoration: none;
  text-shadow: none;
}
.archive-title {
  color: #999;
  font-weight: normal;
  text-shadow: 0 0 1px #fff;
  background: #fff;
  padding: 28px 0 28px 28px;
  -webkit-box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  margin-bottom: 20px;
}
.archive {
  margin-bottom: 50px;
}
.archive ul {
  list-style: none;
  margin-left: 43px;
  margin-top: -26px;
}
.archive ul li {
  margin: 7px 0;
}
.archive ul li time {
  margin-right: 8px;
  color: #666;
}
.archive .archive-itme {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;
}
.archive .archive-year {
  color: #666;
  margin-bottom: 10px;
}
#sidebar {
  width: 33%;
  line-height: 1.8em;
}
@media screen and (max-width: 900px) {
  #sidebar {
    float: none;
    width: 100%;
  }
}
#sidebar .widget {
  background: #fff;
  margin-bottom: 30px;
  word-wrap: break-word;
}
#sidebar .widget .title {
  padding: 15px 20px;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}
#sidebar .widget .entry {
  font-size: 0.9em;
  padding: 15px 20px;
}
#sidebar .widget ul,
#sidebar .widget ol,
#sidebar .widget dl {
  list-style: none;
}
#sidebar .widget ul ul,
#sidebar .widget ol ul,
#sidebar .widget dl ul,
#sidebar .widget ul ol,
#sidebar .widget ol ol,
#sidebar .widget dl ol,
#sidebar .widget ul dl,
#sidebar .widget ol dl,
#sidebar .widget dl dl {
  list-style: disc;
  margin-left: 20px;
}
#sidebar .search {
  margin-bottom: 30px;
}
#sidebar .search input {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
  font-style: italic;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid #ddd;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
}
#sidebar .search input:focus {
  color: #333;
}
#sidebar .tag small {
  margin-left: 15px;
  color: #999;
}
#sidebar .tag small:before {
  content: '(';
}
#sidebar .tag small:after {
  content: ')';
}
#sidebar .twitter li {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
  font-size: 0.9em;
}
#sidebar .twitter li:last-of-type {
  border-bottom: none;
}
#sidebar .twitter small {
  display: block;
  margin-top: 10px;
  color: #999;
  line-height: 1;
}
#sidebar .tagcloud .entry {
  padding-right: 5px;
}
#sidebar .tagcloud a {
  margin-right: 10px;
  display: inline-block;
}
#footer {
  margin-top: 30px;
  padding: 10px 0;
  color: #818181;
  font: 0.9em/1.6 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
  text-shadow: 0 0 1px #fff;
  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.24);
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.24);
  background: #dcdcdc;
}
@media screen and (max-width: 820px) {
  #footer {
    padding: 10px 1em;
  }
}
.entry .gist {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.2;
  overflow: auto;
  color: #666;
}
.entry .gist .gist-file {
  border: none;
  font-family: inherit;
  margin: 0;
  font-size: 0.9em;
}
.entry .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
.entry .gist .gist-file .gist-data pre {
  padding: 0 !important;
  font-family: Consolas, "Lucida Console", "Courier New", Menlo, Monaco, "Microsoft Yahei", monospace;
}
.entry .gist .gist-file .gist-meta {
  background: none;
  color: #999;
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 0 1px #fff;
  font-size: 100%;
}
.entry .gist .gist-file .gist-meta a {
  color: #0078aa;
}
.entry .gist .gist-file .gist-meta a:visited {
  color: #0078aa;
}
figure.highlight {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: #999;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight .gutter {
  color: #999;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: right;
}
figure.highlight .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
