<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>点击切换背景色，刷新后保存-豪情</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css" media="all"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <style type="text/css">
        *{margin:0;padding:0;}
        body{font:12px/1.125 Microsoft YaHei;background:#fff;}
        ul,li{list-style:none;}
        a{text-decoration:none;}
        .wrap{width:580px;height:350px;text-align:center;margin:150px auto;}
        .wrap .btn{margin:0 10px;padding:8px 40px;}
        .inner{padding:15px;}
        .clearfix{overflow:hidden;_zoom:1;}
        .none{display:none;}
        .color-panle{display:none;width:199px;background:#fff;}
        .color-list{border-top:1px solid #000;border-left:1px solid #000;}
        .color-list ul{float:left;width:66px;height:66px;margin:0;padding:0;}
        .color-list li{list-style:none;float:left;width:10px;height:10px;border-bottom:1px solid #000;border-right:1px solid #000;overflow:hidden;cursor:pointer;}
        .color-read{padding-bottom:5px;height:15px;}
        .color-read .color-val{float:right;}
        .color-read .color-show{float:left;width:50px;height:15px;border:1px solid #000;}
    </style>
</head>
<body>
<div class="wrap">
    <div class="demo" id="container">
        <input type="text" name="" size="60" id="input" class="input input-lg">

    </div>
</div>
<div style="display:none;">
    <div id="div" style="width:100px;height:200px;background:#000;"></div>
    <button id="btn">test</button>
</div>
<script type="text/html" id="tpl-list">
    <% for (var i = 0; i < data.length; i++){%>
    <ul>
        <% for ( var j = 0; j < data[i].length; j++ ) { %>
            <li style="background-color:#<%=data[i][j]%>"></li>
        <% } %>
    </ul>
    <%}%>
</script>
<script>
    (function(){
        var div = document.getElementById('div')
        var btn = div.getElementsByTagName('button')
        var style = document.getElementById('style')
        var css = ['blue.css', 'yellow.css', 'green.css']

        var dog = {
            $ : function(selector){
                return document.querySelector(selector)
            },
            on: function(el, type, handler){
                el.addEventListener(type, handler, false)
            },
            off: function(el, type, handler){
                el.removeEventListener(type, handler)
            },
            position : function(obj, attr){
                if(obj){
                    var method = obj.getBoundingClientRect()
                    return attr ? method[attr] : method
                } else {
                    console.log('对象不存在！')
                }
            },
            cache : {},
            tpl : function(str, data){
                var fn= !/\s/.test(str) ? 
                    this.cache[str] = cache[str] || tmpl(document.getElementById(str).innerHTML) :
                        new Function("obj","var p='';p+='"
                        +str.replace(/[\r\n\t]/g," ")
                        .split('\\').join("\\\\")
                        .split("<%").join("\t")
                        .replace(/((^|%>)[^\t]*)'/g, "$1\r")
                        .replace(/\t=(.*?)%>/g, "'+$1+'")
                        .split("\t").join("';")
                        .split("%>").join("p+='")
                        .split("\r").join("\\'")
                        +"';return p;")

                return data ? fn.call(data) : fn
            },
            setCookie : function(key, value, day){
                var d = new Date()
                d.setDate(d.getDate() + day)
                document.cookie = key + '=' + value + ';expires=' + d
            },
            getCookie : function(key){
                var list = document.cookie.split(';')
                for (var i = 0; i < list.length; i++) {
                    var one = list[i].split('=')
                    if(one[0] == key){
                        return one[1]
                    }
                };
                return ''
            },
            delCookies : function(key){
                this.setCookie(key, 1, -1)
            },
            show : function(obj){
                obj.style.display = 'block'
            },
            hide : function(obj){
                obj.style.display = 'none'
            }
        }

        function Palette(){
            var args = arguments[0],
                dom = args.dom

            for(var key in args){
                if(key == 'dom'){
                    this.getDom(dom);
                } else {
                    this[key] = args[key]
                }
            }
            this.init()
        }
        Palette.prototype = {
            init : function(){
                this.render()
            },
            __dom : {
                __list : '.color-list'
            },
            setDom : function(){
                this.getDom(this.__dom)
            },
            getDom : function(dom){
                for(var prop in dom){
                    this[prop] = dog.$(dom[prop])
                }
            },
            render : function(){
                var dom = null

                if(!(dom = dog.$('#panel'))){
                    this.createPanel()
                } else {
                    dog.show(dom)
                }
            },
            createPanel : function(){
                this.createBody()
                this.setDom()
                this.createLump()
            },
            createBody : function(){
                var div = document.createElement('div'),
                    pos = dog.position(this.input)

                div.id = 'panel'
                div.innerHTML = this.tpl[0]
                div.style.top = pos.top + 32 + 'px'
                div.style.left = pos.left + 'px'
                div.children[0].style.display = 'block'
                this.container.appendChild(div)
                this.calendar = div
            },
            createLump : function(){
                var data = this.getColorsData(),
                    tplHtml = this.tplList,
                    __list = this.__list

                console.log(data);
                __list.innerHTML = dog.tpl(tplHtml.innerHTML, data)
            },
            getColorsData : function(){
                var arr = ['0', '3', '6', '9', 'c', 'f'],
                    data = []

                for (var i = 0; i < arr.length; i++) {
                    data.push(this.createColors(arr[i], arr))
                }
                return data
            },
            createColors : function(one, arr){
                var colors = []

                for (var i = 0; i < 6; i++) {
                    for(var j = 0; j < 6; j++) {
                        colors.push(one + arr[j] + arr[i])
                    }
                }
                return colors
            }
        }

        var defaults = {
            dom : {
                container : '#container',
                input     : '#input',
                tplList   : '#tpl-list'
            },
            tpl : 
                [
                    '<div class="color-panle">' +
                    '    <div class="color-read">' +
                    '        <span class="color-val"></span><span class="color-show"></span>' +
                    '    </div>' +
                    '    <div class="color-list">' +
                    '    </div>' +
                    '</div>'
                ]
                
        }
        document.getElementById('input').onclick = function(e){
            new Palette(defaults)
        }
    }());

    var data = [
        ['000','111','022'],
        ['900','911','922'],
        ['c00','c11','c22'],
    ]
</script>
</body>
</html>